<% content_for :title, "Colt x Carly 2014" %>

<div class="row-center">
	<h4>Lyth Groovin WRChX, ORC x Windwalker Pandy Time WRCh</h4>
</div>
<div class="row-center">
	<h4>Planned for summer 2014</h4>
</div>

<div class="row-center">
	<%= image_tag("Whippets/colt*1.jpg") %>
	<%= image_tag("Whippets/carly*1.jpg") %>
</div>

<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/testmating.php?dam=72971&sire=72978"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>

<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Learn more about the Colt x Carly litter plans:</h3>
<P>
				I have loved Carly from the moment she was born. I wasn't ready for another pup at that time but knew that I would want a pup out of Carly when the time was right.... well, the time is right! Finding a sire wasn't too difficult as Colt has been a local & personal favorite for years. Both Colt and Carly have incredibly easy-going personalities in the home and plenty of drive on the field. We are looking forward to another versatile litter. 
				</P>
				<p>
				Litter theme may be determined by the Kelsey and Kemerly kids :) 
				
</div>

