<% content_for :title, "Ezrin x Mariah 2014" %>

<div class="row-center">
	<h4>WildAbout Windealker Amaze x Windwalker Mariah WRChX</h4>
</div>
<div class="row-center">
	<h4>Planned for spring 2014</h4>
</div>

<div class="row-center">
	<%= image_tag("whippets/ezrin*1.jpg") %>
	<%= image_tag("whippets/mariah*1.jpg") %>
</div>

<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/testmating.php?dam=13903&sire=32450"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>

<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Learn more about the Ezrin x Mariah litter plans:</h3>
<P>
				We are excited to team up with ShineOn Whippets to whelp this litter! Ezrin has often been in the shadows of his better known brothers but not for lack of talent. Ez competed on a limited basis in his younger years. What we love about Ez is his amazing personality, his drive in performance venues and let's face it... he is really good looking! Combine all of that with Mariah's speed and beauty,  we think we've got a winning combination!
				</P>
				<p>
				We are still thinking of litter themes.... 
				
</div>

