<% content_for :title, "Ferret x Ava" %>

<div class="row-center">
	<h4>FC Domino Pop Goes The Weasel WRCh, ORC, FCh, SC x Sailaway Wilpen Avanti Vin</h4>
</div>
<div class="row-center">
	<h4>Planned for Summer 2014</h4>
</div>

<div class="row-center">
	<%= image_tag("Whippets/ferret*1.jpg") %>
	<%= image_tag("Whippets/ava*1.jpg") %>
</div>

<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/testmating.php?dam=67628&sire=8417"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>

<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Learn more about the Ferret x Ava litter plans:</h3>
<P>
				This pedigree is a beautiful blend of race and show lines that has become the essence of WildAbout Whippets! Ferret is the multi-talented son of the famous Bengal (Wheatland Bengal WRCHX, SORCIV, ROMX) and grandson of equally famous, Squeaker (Ch Wheatland Cab Calloway RCh). Squeaker is one of the few AKC show champions with an open race title. Ava is a granddaughter of one of our favorite whippets, Eddie (Ringdove ORC, SRChIII). We are very excited for the future of this litter!
				</P>
				<p>
				We are still thinking of litter themes.... 
				
</div>

