<% content_for :title, "Caesar" %>

<div class="row-center">
	<h2>FC Do It Just A High Stakes Roller LCM</h2>
</div>
<div class="row-center">
	<h4>(DC Surrey Hills Galafrey LCM, OTRM, CR, DPCX x Multi BIF FC WildAbout Lucky Lucille LCM, CRX)</I><BR>Born July 2nd, 2011</h4>
</div>
<div class="row-center">
	<P>Height: 21 1/2" Weight: 33lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/caesar*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=153534"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Caesar</h3>
		<p>Caesar resides in Hebron, Kentucky with Brenda and Andy Hartle... and a whippet housemates: Trent, Merry & Gracie. Caesar certainly keeps Brenda and Andy on their toes as nothing is safe around this nosey boy but where he really shines is on the field.  Caesar easily finished his AKC Field Championship at the age of one and blew away the ASFA competition by finishing his LCM at the age of 2 1/2 years.  Lure coursing is most definitely in the genes.  And just to be an over-achiever, Caesar enjoys racing with his first Division II sweep and is even pointed in the show ring!</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/caesar1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/caesar2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/caesar3.jpg") %></div>
			
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
