<% content_for :title, "Capone" %>

<div class="row-center">
	<h2>WildAbout's Flippin' A Coin WRCh, ORC</h2>
</div>
<div class="row-center">
	<h4>(WildBlues Turn Me Loose WRChX, SORC x WildAbout Windwalker Stargazer WRCh, OTRMIII)</I><BR>Born September 9th, 2010</h4>
</div>
<div class="row-center">
	<P>Height: 22 1/4" Weight: 37lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/capone*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=101517"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Capone</h3>
		<p>Capone joined Brett Kemerly (Pineview Whippets) in Middletown, Indiana.  Capone has been keen since day one and is proving to be awfully quick too!  Capone was winner of 2011 WRA National puppy meet and finished his WRCh in 2012 while earning almost all of his ORC points.  Not only is Capone speedy but handsome as well. Capone spent the beginning of 2013 on the injured list but made quite the come back by finishing his ORC!</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/capone1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/capone2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/capone3.jpg") %></div>

		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
