<% content_for :title, "Dollar" %>

<div class="row-center">
	<h2>WildAbout Wine and Pancakes</h2>
</div>
<div class="row-center">
	<h4>(Notorious Poeta Pantera WRChX, SORC-II, CD, RE, MX, MXJ, ADC, AgI, AgIJ, RPT, AV x WildAbout Spirit of Windwalker CRXIV, OTRM, SR)</I><BR>Born May 14th, 2013</h4>
</div>
<div class="row-center">
	<P>Height:  Weight: </P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/dollar*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=194141"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Dollar:</h3>
		<p>Dollar is co-owned and living with Megan Pallatin in Indianapolis, Indiana. One word sums up this puppy pretty darn well: HAPPY!</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/dollar1.jpg") %></div>
			<
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
