<% content_for :title, "Kenny P" %>

<div class="row-center">
	Multiple NOTRA meet winning
</div>
<div class="row-center">
	<h2>WildAbout's La Flama Blanca</h2>
</div>
<div class="row-center">
	<h4>(WildBlues Turn Me Loose WRChX, SORC x WildAbout Windwalker Stargazer WRCh, OTRMIII)</I><BR>Born September 9th, 2010</h4>
</div>
<div class="row-center">
	<%= image_tag("kenny2.jpg") %>
</div>
<div class="span11">
	<h3>Kenny P:</h3>
	<p>Kenny P is staying right here at WildAbout Whippets!  He was Kim and Trent's pick from the day the litter was born.  A rather obnoxious baby pup earned him the name of Kenny P.  Anyone heard of Eastbound and Down?  However, Kenny is all business on the track.  He placed second in the National WRA and NAWRA puppy runs in 2011 and is already running with A dogs on the oval (earning his first meet win at the age of 14 months!!).  2012 is going to be a great year for Kenny P and his littermates!!</p>
</div>
<div class="span11">
	<A href = "http://thewhippetarchives.net/testmating.php?dam=33222&sire=43341&gens=6///">Pictorial Pedigree & Stats</A>
</div>
<div class="span11">
	<%= image_tag("kenny3.jpg") %>
</div>
<div class="span11">
	<%= image_tag("kenny1.jpg") %>
</div>
<div class="span11">
	<P><h5>Height:</h5> 21 1/5"</P>
	<P><h5>Weight:</h5>33lbs</P>
</div>
