<% content_for :title, "Lexi" %>

<div class="row-center">
	<h2>Do It Just Right</h2>
</div>
<div class="row-center">
	<h4>(DC Surrey Hills Galafrey LCM, OTRM, CR, DPCX x Multi BIF FC WildAbout Lucky Lucille LCM, CRX)</I><BR>Born July 2nd, 2011</h4>
</div>
<div class="row-center">
	<P>Height: 19" Weight: 24lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/lexi*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=153534"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Lexi</h3>
		<p>Lexi resides in Cincinnati, OH with first time whippet mom, Elizabeth Watts.  Lexi may be little but she can certainly tear up the field!  Lexi is already pointed in AKC and ASFA at just a year old.</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/lexi1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lexi2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lexi3.jpg") %></div>
			
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
