<% content_for :title, "Family And Friends" %>

<div class="row">
	<div class="span3">
		<%= image_tag("family2.jpg", :alt => "Friends and Family") %>
	</div>
	<div class="span6">
		<P>
			<h2><U><B>WildAbout Whippets Family Websites:</B></U></h2>
		</P>
		<ul>
			<li><A href = "http://www.dreamwindz.com/">Dreamwindz Whippets</A></li>
			<li><A href = "http://www.kanduwhippets.com/">KanDu Whippets</A></li>
			<li><A href = "http://www.freewebs.com/leadingedgedogs/index.htm/">Leading Edge Dogs</A></li>
			<li><A href = "http://whippetwatch.com/saesi/home1.html">SaeSi Whippets</A></li>
			<li><A href = "http://www.freewebs.com/shineonwhippets/index.htm">Shine On Whippets</A></li>
		</ul>
		<P>
			<h2><U><B>Friends of WildAbout Whippets:</B></U></h2>
		</P>
				<ul>
			<li><A href = "http://www.andalewhippets.com/">Andale Whippets</A></li>
			<li><A href = "http://www.geocities.com/divinewhippets/">Divine Whippets</A></li>
			<li><A href = "http://www.lythwhippets.net/">Lyth Whippets</A></li>
			<li><A href = "http://www.lynallanwhippets.com/">Lynallan Whippets</A></li>
			<li><A href = "http://www.poetawhippets.com/home.cfm">Poeta Whippets</A></li>
			<li><A href = "http://www.quixand.com/">Quixand Whippets</A></li>
			<li><A href = "http://www.wildairewhippets.net/">Wildaire Whippets</A></li>
		</ul>
	</div>
</div>