<header>
	<h1>Welcome to WildAbout Whippets!</h1>
	<h6>Often taking the road less traveled....</h6>
</header>

<div class="row">
	<div class="span12">
		<%= image_tag("home1.jpg", :alt => "Wildaboutwhippets.com") %>
	</div>
</div>

<div class="row">
	<div class="span6">
		<address>
			<strong>Annie & Matt Kelsey</strong>
			<br>
			Carmel, Indiana
			<br>
						<strong>
				<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#110;&#110;&#105;&#101;&#64;&#119;&#105;&#108;&#100;&#97;&#98;&#111;&#117;&#116;&#119;&#104;&#105;&#112;&#112;&#101;&#116;&#115;&#46;&#99;&#111;&#109;">contact us</a>
			</strong>
		</address>
	</div>

</div>
<div class="row">
	<div class="span12">
		<address>
			<strong>Kim and Trent Rees</strong>
			<br>
			Muncie, Indiana
			<br>
		</address>
	</div>
</div>
<div class="row">
	<div class="span12">
		<ul class="unstyled">
			<li>Members of the American Whippet Club</li>
			<li>Members of the Indiana Lure Coursing Club</li>
			<li>Members of the Circle City Rag Racers</li>
		</ul>
	</div>
</div>