/*
 *= require bootstrap.min.css
 */

.content
{
	background-color:#3D362D;
	color:#FFF;
	border:1px solid #FFF;
	margin:-1px;
}
.heading
{
	padding:10px;
}
.dropdown-submenu:hover > .dropdown-menu .dropdown-menu { display: none; }
.dropdown-submenu:hover .dropdown-submenu:hover > .dropdown-menu { display: block; }
.row-center
{
	text-align:center;
}